.editorWrap {
  max-width: 600px;
  margin: 1.125rem auto;
}

.editorWrap textarea {
  width: 99%;
  min-height: 200px;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.875rem;
}

.colorScheme,
.editorWrap textarea {
  background-color: #c0d8d8;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-top: none;
}

.maximized {
  width: 96%;
  min-height: 100vh;
  margin: aut;
}

.maximized textarea {
  min-height: 95vh;
  resize: none;
}
